body {
    background-color: #4a4a4a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Pretendard', sans-serif;
}
.app-container {
    width: 100dvh;
    height: 100dvh;
    background-color: #9b9b9b;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Pretendard', sans-serif;
}
.header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;   
}
.loc_main {
    margin-top: 10dvh;
    font-size: 35px;
    
}
.loc_type {
    margin-top: 10px;
    font-size: 55px;
    font-weight: bold;
}
.content {
    height: 41dvh;
    background-color: #000000;
    color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    margin-bottom: 60vw;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.alarm{
    height: 12dvh;
    background-color: #D9D9D9;
    color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    margin-bottom: 28vw;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.humidity {
    font-size: 48px;
    font-weight: bold;
}
.status {
    color: #a3ff00;
    font-weight: bold;
}
.date_time {
    font-size: 20px;
    color: #adb5bd;
}

#density_title {
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
}
#density_val {
    font-size: 65px;
    color: #ffffff;
    font-weight: bold;

}
#density_stage {
    font-size: 65px;
    color: #b1f936;
}
