body {
    background-color: #4a4a4a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Pretendard', sans-serif;
}

.app-container {
    width: 100vw;
    height: 100vh;
    background-color: #212226;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Pretendard', sans-serif;
}

.header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;   
}

.loc_main {
    margin-top: 10vh;
    font-size: 4.5vw;
    font-weight: bold;
}

.loc_type {
    margin-top: 10px;
    font-size: 5.5vw;
    font-weight: bold;
}

.content {
    height: 61vh;
    background-color: #000000;
    color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    margin-bottom: 10vw;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.humidity {
    font-size: 4.8vw;
    font-weight: bold;
}

.status {
    color: #a3ff00;
    font-weight: bold;
}

.date_time {
    font-size: 1.25rem;
    color: #adb5bd;
}

#density_title {
    font-size: 5vw;
    color: #ffffff;
    font-weight: bold;
}

#density_val {
    font-size: 15rem;
    color: #ffffff;
    font-weight: bold;
}

#density_stage {
    font-size: 15rem;
    color: #b1f936;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blink {
    animation: blink 1.0s infinite; /* 깜빡이는 속도를 0.5초로 설정 */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .loc_main {
        font-size: 6vw;
    }

    .loc_type {
        font-size: 7vw;
    }

    .humidity {
        font-size: 6vw;
    }

    #density_val,
    #density_stage {
        font-size: 3rem;
    }

    .content {
        height: 55vh;
        margin-bottom: 5vh;
    }
}

@media (max-width: 480px) {
    .loc_main {
        font-size: 10vw;
        margin-top: 30vw;
    }

    .loc_type {
        font-size: 9vw;
    }

    .humidity {
        font-size: 7vw;
    }

    #density_val,
    #density_stage {
        font-size: 2.5rem;
    }

    .content {
        height: 50vh;
        margin-bottom: 3vh;
    }
}

.fade-in {
    animation: fadeIn 0.1s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0.5; }
    to { opacity: 1; }
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
}

.modal.fade .modal-dialog {
    position: absolute;
    bottom: 15vh;
    top: auto;
    margin: 0 auto;
    transform: translate(0, 0);
}
